@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root{

    --font-family: 'Montserrat', sans-serif;
    --bg-color: #2C3333 ;
    --primary-color: #E8F9FD ;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1{
    font-size: 4em;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 2em;
    margin-top: 30px;
}

.mensagem{
    font-size: 1,5em;
    margin-top: 40px;

}

.box{
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 15px;
    margin: 20px;

}


.btn-jogar{

    margin-top: 30px;
    font-family: var(--font-family);
    border-style: none;
    border: 0;
    padding: 15px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    width: 250px;
    font-size: 20px;
    background-color: #533E85;
    color: var(--primary-color);
    
}

.btn-jogar:hover{

    width: 230px;
    font-size: 18px;
    cursor: pointer;

}
